<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <bean id="noOpPasswordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>
    <!--
        <security:http>:spring过滤器链配置
            1) 需要拦截什么资源
            2) 什么资源对应什么角色权限
            3) 定制认证方式: HttpBasic or FormLogin
            4) 定义登录页面,定义登录请求地址,定义错误处理方式
    -->
    <security:http>
        <!-- 使用form-login的方式进行认证 -->
        <security:form-login login-processing-url="/login"
        authentication-success-handler-ref="loginSuccessHandler"
        authentication-failure-handler-ref="loginFailureHandler"
        username-parameter="username"
        password-parameter="password"/>
        <security:cors/>
        <security:csrf disabled="true"/>
        <!--
            pattern:需要拦截的资源  /* 代表根目录下的一级目录  /** 代表根目录下的所有目录
            access:拦截方式
                isFullyAuthenticated():该资源需要认证才可以访问
        -->
        <security:intercept-url pattern="/login" access="permitAll()"/>
        <security:intercept-url pattern="/logout" access="permitAll()"/>
        <security:intercept-url pattern="/bet/**" access="hasAnyAuthority('normal')"/>
        <security:intercept-url pattern="/user/signUp" access="permitAll()"/>
        <security:intercept-url pattern="/user/avatar" access="hasAnyAuthority('vip')"/>
        <security:intercept-url pattern="/user/**" access="hasAnyAuthority('normal')"/>
        <security:intercept-url pattern="/**" access="permitAll()"/>

        <security:access-denied-handler ref="myAccessDeniedHandler"/>
        <security:logout logout-url="/logout"
                         invalidate-session="true"
                         success-handler-ref="myLogoutHandler"
                         delete-cookies="JSESSIONID"/>
    </security:http>

    <!--
        <security:authentication-manager> : 认证管理器类
            1) 认证信息获取方式(用户名,密码,当前用户权限等在哪获取)
     -->


    <security:authentication-manager>
        <!--
            定义授权信息提供原
        -->
        <security:authentication-provider user-service-ref="securityUserServiceImpl">
            <security:password-encoder ref="noOpPasswordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>

</beans>

